:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(238, 77, 45);
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-search-bar-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    /* HACK */
    font-size: 62.5%;
    /* 62.5% => 10px */
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    /* Đây là chiều rộng cố định mặc định của .grid. Khi trình duyệt đủ rộng (>= 1200px), .grid sẽ có chiều rộng 1200px. */
    max-width: 100%;
    /* .grid không bao giờ được rộng hơn 100% của phần tử cha (trong trường hợp này là <body> hoặc .main).

    Nếu trình duyệt nhỏ hơn 1200px, ví dụ 800px, thì:

        width: 1200px không thể áp dụng vì vượt quá giới hạn max-width: 100%.

        Kết quả: .grid sẽ thu hẹp lại còn 800px để vừa màn hình. */
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Keyframe animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(var(--grow-from));
    }

    to {
        transform: scale(var(--grow-to));
    }
}

/* Modal CSS */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    /* width: 300px;
    height: 300px; */
    --grow-from: 0.7;
    --grow-to: 1;
    margin: auto;
    z-index: 999999;
    position: relative;
    animation: grow linear 0.1s;
}

/* Font-size thì sử dụng rem */

/* Button */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 16px 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* .btn.btn--disabled {
    background-color: #c3c3c3;
    color: #949494;
    cursor: default;
} */

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;

}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}