.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

/* .header__navbar::after {
    content: "";
    clear: both;
    display: table;
} */

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    /* Vì ul mặc định có padding-left là 40px */
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item-link,
.header__navbar-item {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item--show:hover .header__qr {
    display: block;
}

.header__navbar-list,
.header__navbar-item-link,
.header__navbar-item,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item-link:hover,
.header__navbar-icon-link:hover,
.header__navbar-item:hover {
    color: rgba(255,255,255, 0.7);
    cursor: pointer;
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: '';
    display: block;
    position: absolute;
    border-right: 1px solid #FB9086;
    right: -9px;
    /* 
    Trường hợp	Vị trí mặc định của ::after
    Không có left/right =>	Nằm ở mép trái của phần tử cha (mặc định left: 0)
    Có right: 0 =>	Nằm sát mép phải của phần tử cha
    Có right: -9px =>	Nằm lệch sang phải 9px, vượt ra ngoài
    */
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    /* Chiều cao của QR Code chạy xuống hết chiều cao của phần tử cha */
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

/* Tạo cầu nối hover ở khoảng trống giữa thẻ cha và thẻ qr */
.header__qr::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    top: -16px;
    left: 0;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 15px;
}